#page-grade-report-gradedist-index .notifyproblem,
#page-grade-report-gradedist-index .notifysuccess {
    margin-left:10px;
    margin-bottom:10px;
}

#page-grade-report-gradedist-index .b_error {
    margin-top:5px;
    padding-left:16%;
    color: #993300;
}

#page-grade-report-gradedist-index .b_error span {
    margin-left: 10px;
    color: #993300;
}

#page-grade-report-gradedist-index .actcoverage {
    color:#993300;
}

#page-grade-report-gradedist-index .newcoverage,
#page-grade-report-gradedist-index .b_error .newcoverage {
    color:#006600;
}

#page-grade-report-gradedist-index #id_grp_description_description_1 {
    margin-left: 10px;
}

#page-grade-report-gradedist-index #id_grp_columns_newcolumns {
    margin-left: 10px;
}

#page-grade-report-gradedist-index #fgroup_id_grp_columns fieldset span:first-child label {
    color: #993300;
}

#page-grade-report-gradedist-index #fgroup_id_grp_columns fieldset span label {
    color: #006600;
}

#page-grade-report-gradedist-index #fitem_id_submitbutton,
#page-grade-report-gradedist-index #fgroup_id_grp_export,
#page-grade-report-gradedist-index #fgroup_id_buttonar {
    width:50%;
    margin-left:25%;
    mragin-right:25%;
}

#page-grade-report-gradedist-index #fitem_id_submitbutton div,
#page-grade-report-gradedist-index #fgroup_id_grp_export fieldset {
    width:66%;
    margin-left:30%;
}
#page-grade-report-gradedist-index #fgroup_id_buttonar div {
    width:80%;
    margin-left:18%;
}

#page-grade-report-gradedist-index #fgroup_id_grp_export .fitemtitle {
    width:30%;
}

#page-grade-report-gradedist-index #fgroup_id_grp_export label {
    margin-top:6px;
}

#page-grade-report-gradedist-index #id_grp_export_exportformat {
    margin-right:10px;
}