#fgroup_id_grp_gradeboundaries_new .b_error {
    margin-top:5px;
    padding-left:16%;
    color: #993300;
}

#fgroup_id_grp_gradeboundaries_new .b_error span {
    margin-left: 10px;
    color: #993300;
}

#id_grp_description_description_1 {
    margin-left: 10px;
}

#id_grp_columns_newcolumns {
    margin-left: 10px;
}

#fgroup_id_grp_columns fieldset span:first-child label {
    color: #993300;
}

#fgroup_id_grp_columns fieldset span label {
    color: #006600;
}